body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    
}

/* --- global ---*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

hr {
    border:none;
 	width: 80%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #015264;
	box-shadow: 0 20px 20px -20px #333;
    margin: -30px auto 80px; 
}

button {
    height: 35px;
    background-color: #015264;
    color: #fafafa;
    border: 1px white solid;
    font-weight: bold;
    padding: 0 15px;
    min-width: 120px;
    
}

b {
    color: #015264;
}
em {
    color: #015264;
    font-weight: bold;
}
ul{
	list-style: none;
}

a {
    text-decoration: none;
}




/*--- header ---*/
header {
    position: fixed;
    top: 0;
    min-height: 50px;
    width: 100%;
    /*z-index: 1;*/
    background: linear-gradient(60deg, rgba(13,177,65,1) 0%, rgba(21,108,186,1) 100%);
    box-shadow: 0 15px 59px -20px rgba(52, 51, 51, 0.8);
    
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  nav ul li {
    padding: 0 15px;
  }

  nav ul li a {
    color: #fafafa;
    text-decoration: none;
    font-weight: bold;
  }


.sitetitle {
    margin-left: 10px;
    font-weight: bold;
    text-transform: capitalize;
    color: #fafafa;
}

.logoandtitle {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.hurlinglogo {
    width: 50px;
    height: 50px;
    padding: 5px 5px;
    color: #fafafa;
    background-color: #fafafa;
    border-radius: 3px;
}
/* Submenu styling */
.submenu {
    display: none;
    position: absolute;
    background-color: #015264;
    padding: 10px;
    z-index: 1;
  }

  nav ul li:hover .submenu {
    display: block;
    color: #ffa600;
  }

  .submenu a {
    display: block;
    color: #fafafa;
    text-decoration: none;
    padding: 5px 0;
  }



/*--- callout ----*/

.callout {
    background: linear-gradient(rgba(195, 249, 212, 0.9), rgba(148, 201, 247, 0.9)), url("images/calloutimage2.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.callout h1 {
    font-size: 3em;   
    font-style: italic;
    color: #015264;
    padding: 0 20px;
}

.callout p {
    font-size: 1.2em;
    margin-bottom: 40px;
}







/*---- round images --- */

.roundimages {
    background-color: #fafafa;
    /*padding: 20px 10px;*/
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: block;
}

.sectiontitle {
    margin-top: 40px;
    text-align: center;
}
.sectiontitle h2 {
    color: #015264;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 20px;
    justify-content: center;
}

.rimage {
    float: left;
    text-align: center;
    width: 25%;
    padding: 20px 20px;
    margin: 10px;
    border: 1px #015264 solid;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 10px 10px -10px #333;
}

.rimage h3 {
    color: #015264;
}

.rimage > img {
    /*overflow: hidden; */
    border-radius: 50%;
    /* position: relative; */
    width: 12em;
    height: 12em;
    border: 1px #015264 solid;
}

.rimage a {
    color: #333;
    font-style:italic;
    text-decoration: none;
}

.rimage a:hover {
    color: #ffa600;
}

/*------ Subscribe -----*/

.newsletter {
    padding: 30px 200px;
    color: #fafafa;
    background-image: linear-gradient(60deg, rgba(4, 171, 57, 0.8), rgba(3, 104, 172, 0.8));
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


.subscribe {
    padding: 0px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.subscribe input[type="email"] {
    padding: 5px;
    height: 25px;
    width: 250px;
    border: 1px #015264 solid;
    margin-right: 1em;
    display: flex;
    align-items: center;
}

.buttonsubscribe a {
    color: #fafafa;
    text-decoration: none;
}

.buttonsubscribe 
a:hover {
    color: #ffa600;
}




/*------ footer -----*/
.row{
	display: flex;
	flex-wrap: wrap;
    padding-bottom: 60px;
}

.footer{
	background-color: #015264;
    padding: 70px 0;
}
.footer-col{
   width: 30%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #fafafa;
	text-transform:uppercase;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffa600;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-col ul li {
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fafafa;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.2s ease;
}
.footer-col ul li a:hover{
	color: #ffa600;
	padding-left: 8px;
}
.footer-col .social-links  a img{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: rgba(0,0,0,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	color: #ffffff;
	transition: all 0.5s ease;
    filter: invert(100%) sepia(0%) saturate(250%) hue-rotate(20deg) brightness(100%) contrast(90%);
    padding: 5px;;
}
.footer-col .social-links img a:hover{
	color: #ffa600;
    background-color: #ffa600;
    fill: #d88c00;
    

}

.copyright {
    background-color: #24262b;
    padding: 10px 0;
    color: #fafafa;
    margin: auto;
    text-align: center;
}

.copyright a {
    color: #ffa600;
}

.copyright a:hover {
    color: #d88c00;
}





/* --- about Hurling page ---*/

/* --- aside ---*/

.aboutimage {
    background: linear-gradient(rgba(195, 249, 212, 0.8), rgba(148, 201, 247, 0.8)), url("https://www.irishtimes.com/resizer/GubPLgd69wKMa5pDK76XDD55wII=/1600x0/filters:format(jpg):quality(70)/cloudfront-eu-central-1.images.arcpublishing.com/irishtimes/LMRR3Z6JPIJQNSVW3G5B4HT4MM.jpg") no-repeat top center fixed; 
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background-size: cover;
    display: block;



}

#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
    background-color: #ffe5b5;
    border: 1px solid #015264;
    border-radius: 5px;
    padding: 10px;
}

#widecol {
    width: 67%;
    float: left;
    margin-top: 10px;
}



/* ----- form css ---*/
#testpageheader {
    margin: auto;
}
  
.formheader h1  {
    margin-top: 2em auto;
    text-align: center;
    font-size: 2.5em;
    color: #015264;
}
  
.formheader p {
    text-align: center;
    font-size: 1.5em;
}
 
form {
    width: 80vw;
    max-width: 50%;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 4em;
}
  
fieldset {
    border: none;
    padding: 2rem 2rem;
    margin-bottom: 2em;
    border: 1px #015264 dashed;
    border-bottom: 1px solid #3b3b4f;
    box-shadow: 0 20px 20px -20px #333;
    color: #015264;
}
  
  
label {
    display: block;
    margin: 0.5rem 0;
    color: #015264;
}
  
input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}
  
input, textarea {
    background-color: #fafafa;
    border: 1px solid #015264;
    color:#24262b;
    padding-left: 5px;
}
  
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

#multichoice {
    padding: 5px;
    height: 100px;
}

option::selection {
    background: #ffa600;
}

.helptext {
    color: #3b3b4f;
    font-style: italic;
    font-size: small;
    margin-top: -2px;
}


.submitform a {
    color: #fafafa;
    text-decoration: none;
}

.submitform 
a:hover {
    color: #ffa600;
}
  

  
.inline{
    display: inline; 
}
  
/* Media Queries ---------------------------------*/

/*--- responsive nave ---*/
@media(max-width: 768px) {
    .container{
        width: 90%;
        margin: auto;
    }
    nav {
      flex-direction: column;
      align-items: flex-start;
      z-index: none;
    }
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
    nav ul li {
      padding: 5px 0;
    }
    .submenu {
      position: static;
      display: none;
      margin-left: 20px;
      transition: 0.3s;
    }
    nav ul li:hover .submenu {
      display: block;
    }
    .logoandtitle {
        margin: 10px 0;
    }

/*--- responsive callout --- */
    .callout {
        padding: 0 10px;
        margin-top: 150px;;
      }
      .callout h1 {
        font-size: 2.5rem;
      }
      .callout p {
        font-size: 1rem;
      }

/*--- responsive newsletter --- */
    .newsletter  {
        padding: 15px;
        display: block;
    }  

    .subscribe input[type="email"]  {
        width:100%;
        margin: 10px;
    }

    .buttonsubscribe {
        width: 100%;
        margin-left: 15px;
    }
   .subscribe {
        display: block;
        align-content: center;
        float: inherit;
   }
    

/*--- round images --- */
      .rimage {
        width: 100%;
      }
  } 

  




/*--- responsive footer ---*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }